<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%- title %> | <%- app.name %></title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

<style>
  * {
    font-family: Nunito;
  }

  body {
    margin: 48px;
  }

  footer {
    position: fixed;
    bottom: 16px;
    right: 16px;
    text-align: right;
  }

  li {
    margin-bottom: 8px;
  }

  .content {
    margin: 0 auto;
    width: 90%;
  }

  .column {
    float: left;
    width: 33%;
  }
</style>